/* import { makeStyles } from "@material-ui/core/styles";
import Autocomplete from "@material-ui/lab/Autocomplete";


export default makeStyles(() => ({


    appBar: {
        height: 260,
        marginTop:1900,
        position: "absolute",
        backgroundColor: "#F8F6FA",
        width: "100%",
        "@media (max-width: 960px)": {
            marginTop:2800,

        },
        "@media (max-width: 700px)": {
            height: 320,
            marginTop:2800,

        },
        "@media (max-width: 500px)": {
            height: 340,
            marginTop:3200,
        },


    },

    toolbar: {
        display: "flex",
        justifyContent: "flex-end",
        "@media (max-width: 700px)": {
            display: "block",
        },

    },
    paragraph: {
        color: '#000000',
        fontSize: 14,
        width: 550,
        "@media (max-width: 1100px)": {
            width: 450,

        },
        "@media (max-width: 960px)": {
            width: 370,

        },
        "@media (max-width: 700px)": {
            width: 500,
        },
        "@media (max-width: 510px)": {
            width: 400,
        },
        "@media (max-width: 320px)": {
            width: 290,
            fontSize: 12,
        },



    },
    div1: {
        marginRight: 380,
        "@media (max-width: 1100px)": {
            marginRight: 280,

        },
        "@media (max-width: 960px)": {
            marginRight: 260,

        },
        "@media (max-width: 800px)": {
            marginRight: 190,
        },
        "@media (max-width: 700px)": {
            marginRight: 10,
            marginLeft: 50,
        },
        "@media (max-width: 500px)": {
            marginLeft: 10,
            marginBottom: 10,
            marginRight: 0,
        },
        "@media (max-width: 320px)": {
            marginLeft: 6,
            marginBottom: 10,
            marginRight: 0,
        },
    },
    div2: {
        color: '#2d1782',
        marginTop: 15,
        marginLeft: 50,
        "@media (max-width: 700px)": {
            marginLeft: 50,
            marginTop: 10,
        },
        "@media (max-width: 510px)": {
            marginLeft: 10,
            marginTop: 15,
            display:'inline',
            marginRight:120,
        },
        "@media (max-width: 320px)": {
            marginLeft: 10,
            marginTop: 15,
            display:'inline',
            marginRight:80,
            fontSize: 25,
        },
    },
    contact: {
        color: '#2d1782',
        fontSize: 24,
        marginLeft: 50,
        "@media (max-width: 700px)": {
            marginLeft: 50,
            marginRight:0,
            marginBottom:0,
        },
        "@media (max-width: 510px)": {
            marginLeft: 10,
            marginRight:0,
            marginBottom:15,
            fontSize: 22,

        },
        "@media (max-width: 320px)": {
            marginLeft: 10,
            marginRight:0,
            marginBottom:15,
            fontSize: 18,

        }


    },
    suivez: {
        marginTop: 20,
        marginLeft: 25,
        "@media (max-width: 700px)": {
            marginTop: 3,
            fontSize: 24,
            marginBottom:10,

        },
        "@media (max-width: 510px)": {
            marginTop: 3,
            fontSize: 22,

        },
        "@media (max-width: 320px)": {
            marginTop: 5,
            fontSize: 18,

        },


    },
    socialMedia: {
        color: '#2d1782',
        marginLeft: 15,
        marginTop: 12,
        "@media (max-width: 700px)": {
            marginTop: 2,
            marginLeft:20,

        },
        "@media (max-width: 510px)": {
            marginLeft:10,
                marginTop: 2,
        },
    },
    Size: {
        fontSize: 35,
        marginRight:10,

        "@media (max-width: 700px)": {
            display: "block",

        },
        "@media (max-width: 510px)": {
            display: "inline",
            marginRight:10,
            fontSize: 28,


        },
        "@media (max-width: 320px)": {
            display: "inline",
            marginRight:10,
            fontSize: 25,


        },
    },
size2 :{
 
    "@media (max-width: 320px)": {
        fontSize: 20,

    },
},
  
    media: {
        color: '#2d1782',
        display: "flex",
        "@media (max-width: 700px)": {
            display: "block",
            marginLeft: 380,
        },
        "@media (max-width: 510px)": {
            marginLeft: 0,
            marginTop: 50,
            display: "flex",


        },
    },
    copyright: {
    },
    copyrightext: {
        color: '#2d1782',
        marginLeft: "35%",
        fontSize: 16,
        "@media (max-width: 700px)": {
            marginLeft: "20%",
            fontSize: 12,

        },
        "@media (max-width: 500px)": {
            marginLeft: "20%",
            fontSize: 12,
       

        },
        "@media (max-width: 320px)": {
            marginLeft: "8%",
            fontSize: 10,
        },
    },
    title: {
        color: '#2d1782',
        fontSize: 24,
        "@media (max-width: 700px)": {
            marginTop: 120,
            fontSize: 22,

        },
        "@media (max-width: 510px)": {
            marginTop: 60,
            marginBottom:8,
            fontSize: 20,

        },
        "@media (max-width: 320px)": {
            marginTop: 100,
            marginBottom:8,
            fontSize: 18,

        },
     
    },

})); */
html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
  padding-bottom: 50px;

}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #e3daed;
  
  padding-bottom: 50px;
  margin-top: 80px;
} 
.paragraph {
    color: #000000;
    font-size: 14px;
    width: 620px;
}

.paragraph1 {
    color: #2d1782;
    font-size: 24px;
    margin-right: 390px;
}
.contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 280px;

}
.toolbar {
    display: flex;
    justify-content: flex-end;
}

.div1 {
    margin-right: 500px;
}
.div2 {

        color: #2d1782;
        margin-top: 15px;
        margin-right: 350px;
}

.media {
    color: #2d1782;
    display: flex;
    margin-top: 20px;
}
.suivez{
    margin-top: 20px;
    margin-left: 25px;
}

.socialMedia{
    color: #2d1782;
    margin-left: 15px;
    margin-top: 20px;
}

.Size{
    font-size: 35px;
    margin-right: 10px;
}
.copyrightext {
    color: #2d1782;
    margin-left: 5%;
    font-size: 16px;

}




@media screen and (max-width: 800px) {
    .footer {
        background-color: #e3daed;
    }
    .div1 {
        margin-right: -430px;
    }
    .paragraph {
        font-size: 14px;
        width: 450px;
        color: black;
    }
    
    .paragraph1 {
        color: #2d1782;
        font-size: 24px;
        margin-right: 230px;

  }

  .contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 350px;
    margin-top: 200px;

}
.div2{
    display: inline;
    margin-left: -20px;
    margin-top: 15px;
    margin-right: 190px;
    font-size: 25px;
}

   
}



@media screen and (min-width: 800px) {
    .footer {
        background-color: #e3daed;
    }
    .div1 {
        margin-right: 60px;
    }
    .paragraph {
        font-size: 14px;
        width: 420px;
        color: black;
    }
    
    .paragraph1 {
        color: #2d1782;
        font-size: 24px;
        margin-right: 230px;

  }

  .contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 180px;
    margin-top: 20px;

}
.div2{
    margin-left: -20px;
    margin-top: 15px;
    margin-right: 200px;
    font-size: 25px;
}

   
}


@media screen and (min-width: 960px) {
    .footer {
        background-color:#e3daed;
    }
    .div1 {
        margin-right: 100px;
    }
    .paragraph {
        font-size: 14px;
        width: 500px;
        color: #000000;
    }
    
    .paragraph1 {
        color: #2d1782;
        font-size: 24px;
        margin-right: 400px;

  }

  .contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 180px;
    margin-top: 20px;

}
.div2{
    margin-left: -20px;
    margin-top: 15px;
    margin-right: 200px;
    font-size: 25px;
}

   
}

@media screen and (min-width: 1100px) {
    .footer {
        background-color:#e3daed;
    }
    .div1 {
        margin-right: 220px;
    }
    .paragraph {
        font-size: 14px;
        width: 580px;
        color: #000000;
    }
    
    .paragraph1 {
        color: #2d1782;
        font-size: 24px;
        margin-right: 400px;

  }

  .contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 180px;
    margin-top: 20px;

}
.div2{
    margin-left: -20px;
    margin-top: 15px;
    margin-right: 200px;
    font-size: 25px;
}

   
}

@media screen and (min-width: 1300px) {
    .footer {
        background-color:#e3daed;
    }
    .div1 {
        margin-right: 300px;
    }
    .paragraph {
        font-size: 14px;
        width: 580px;
        color: #000000;
    }
    
    .paragraph1 {
        color: #2d1782;
        font-size: 24px;
        margin-right: 400px;

  }

  .contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 280px;
    margin-top: 20px;

}
.div2{
    margin-left: -20px;
    margin-top: 15px;
    margin-right: 320px;
    font-size: 25px;
}

   
}



@media screen and (min-width: 1400px) {
    .footer {
        background-color:#e3daed;
    }
    .div1 {
        margin-right: 400px;
    }
    .paragraph {
        font-size: 14px;
        width: 580px;
        color: #000000;
    }
    
    .paragraph1 {
        color: #2d1782;
        font-size: 24px;
        margin-right: 400px;

  }

  .contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 280px;
    margin-top: 20px;

}
.div2{
    margin-left: -20px;
    margin-top: 15px;
    margin-right: 320px;
    font-size: 25px;
}

   
}



@media screen and (min-width: 1500px) {
    .footer {
        background-color:#e3daed;
    }
    .div1 {
        margin-right: 520px;
    }
    .paragraph {
        font-size: 14px;
        width: 600px;
        color: #000000;
    }
    
    .paragraph1 {
        color: #2d1782;
        font-size: 24px;
        margin-right: 400px;

  }

  .contact {
    color: #2d1782;
    font-size: 24px;
    margin-right: 280px;
    margin-top: 20px;

}
.div2{
    margin-left: -20px;
    margin-top: 15px;
    margin-right: 320px;
    font-size: 25px;
}

   
}











